<h1>Cidade</h1>

<p>This component demonstrates fetching data from the server.</p>
<label for="nameCity">Nome</label>
<form>
      <input type="text" name="name" id="name" ng-model="name" aria-describedby="name" 
        placeholder="Insira nome da cidade"style="whidth:30%;margin-bottom:10px" [(ngModel)]="name">
</form>

<div class="dropdown" style="margin-top:10px" name="dropdownState">
    <label for="dropdownEstado">Estado</label>
    <select #selectElem (change)="setState(selectElem.value)" style="width:30%" class="form-control">
        <option>Selecione um estado</option>
        <option *ngFor="let fuck of forecasts" [value]="fuck.id">
            {{fuck.name}}
        </option>
    </select>
</div>

<button (click)="Save(id)" style="margin-top:10px">Salvar</button>

<p *ngIf="!cidades"><em>Loading...</em></p>

<table class='table' *ngIf="cidades">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cidades">
            <td>{{ item.id}}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.state.name }}</td>
            <button (click)="Delete(item)" type="button" class="btn btn-danger">Excluir</button>
        </tr>
    </tbody>
</table>
