<h1>Disciplina</h1>

<p>This component demonstrates fetching data from the server.</p>
<label for="nameCity">Nome</label>
<form>
      <input type="text" name="name" id="name" ng-model="name" aria-describedby="name" 
        placeholder="Insira nome da Materia"style="whidth:30%;margin-bottom:10px" [(ngModel)]="name">
</form>
<label for="workload">Carga Horaria</label>
<form>
        <input type="number" name="workload" id="workload" ng-model="workload" aria-describedby="workload" 
          placeholder=""style="whidth:30px;margin-bottom:10px" [(ngModel)]="workload">
</form>

<div class="dropdown" style="margin-top:10px" name="dropdownCourse">
    <label for="dropdownCourse">Cursos</label>
    <select #selectElem (change)="setCourse(selectElem.value)" style="width:30%" class="form-control">
        <option>Selecione um curso</option>
        <option *ngFor="let fuck of course" [value]="fuck.id">
            {{fuck.name}}
        </option>
    </select>
</div>

<button (click)="Save(id)" style="margin-top:10px">Salvar</button>

<p *ngIf="!subjects"><em>Loading...</em></p>

<table class='table' *ngIf="subjects">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>C. Horaria</th>
            <th>Curso</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of subjects">
            <td>{{ item.id}}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.workload }}</td>
            <td>{{ item.course.name }}</td>
            <button (click)="Delete(item)" type="button" class="btn btn-danger">Excluir</button>
        </tr>
    </tbody>
</table>
