<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Teste</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
               
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
               
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/State']">
                        <span class='glyphicon glyphicon-th-list'></span> Estado
                    </a>
                </li>
               
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/City']">
                        <span class='glyphicon glyphicon-th-list'></span> Cidade
                    </a>
                </li>
               
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Professor']">
                        <span class='glyphicon glyphicon-th-list'></span> Professor
                    </a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Student']">
                        <span class='glyphicon glyphicon-th-list'></span> Estudante
                    </a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/Course']">
                            <span class='glyphicon glyphicon-th-list'></span> Curso
                        </a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/Subjects']">
                            <span class='glyphicon glyphicon-th-list'></span> Disciplina
                        </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Classroom']">
                        <span class='glyphicon glyphicon-th-list'></span> Turma
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Enrollment']">
                        <span class='glyphicon glyphicon-th-list'></span> Matricula
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
