<h1>state forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<label for="nameState">Nome</label>
<form>
      <input type="text" name="name" id="name" ng-model="name" aria-describedby="name" placeholder="Insira nome do estado"style="whidth:30%;margin-bottom:10px" [(ngModel)]="name">
</form>

<button (click)="SaveState()">Salvar</button>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.id}}</td>
            <td>{{ forecast.name }}</td>
            <button (click)="Delete(forecast)" type="button" class="btn btn-danger">Excluir</button>
        </tr>
    </tbody>
</table>
