<h1>Matricula</h1>

<div class="dropdown" style="margin-top:10px" name="dropdownStudent">
    <label for="dropdownStudent">Estudantes</label>
    <select #selectElem (change)="setStudent(selectElem.value)" style="width:30%" class="form-control">
        <option>Selecione um estudante</option>
        <option *ngFor="let fuck of students" [value]="fuck.id">
            {{fuck.name}}
        </option>
    </select>
</div>

<div class="dropdown" style="margin-top:10px" name="dropdownClassroom">
    <label for="dropdownClassroom">Turma</label>
    <select #selectElem2 (change)="setClassroom(selectElem2.value)" style="width:30%" class="form-control">
        <option>Selecione uma turma</option>
        <option *ngFor="let fucks of Classroom" [value]="fucks.id">
            {{fucks.classroom}} 
        </option>
    </select>
</div>

<button (click)="Save()" style="margin-top:10px">Salvar</button>

<p *ngIf="!enrollment"><em>Loading...</em></p>

<table class='table' *ngIf="enrollment">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Turma</th>
            <th>Aluno</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of enrollment">
            <td>{{ item.id}}</td>
            <td>{{ item.dateEnrollment}}</td>
            <td>{{ item.hour }}</td>
            <td>{{ item.classroom.classroom }}</td>
            <td>{{ item.student.name }}</td>
            <button (click)="Delete(item)" type="button" class="btn btn-danger">Excluir</button>
        </tr>
    </tbody>
</table>
