<h1>Curso</h1>

<form>
      <input type="text" name="name" id="name" ng-model="name" aria-describedby="name" 
        placeholder="Insira nome do curso"style="whidth:30%;margin-bottom:10px" [(ngModel)]="name">
</form>

<form>
        <input type="text" name="title" id="title" ng-model="title" aria-describedby="title" 
          placeholder="Insira titulação"style="whidth:30%;margin-bottom:10px" [(ngModel)]="title">
 </form>

  <button (click)="Save()">Salvar</button>

<p *ngIf="!courses"><em>Loading...</em></p>

<table class='table' *ngIf="courses">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Titulação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of courses">
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.title }}</td>
                <button (click)="Delete(item)" type="button" class="btn btn-danger">Excluir</button>
            </tr>
        </tbody>
</table>
    
